#components-tabs-demo-card-top .code-box-demo {
  background: #ECECEC;
  overflow: hidden;
  padding: 24px;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #EAEAEA;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  color: #fff;
  background: #0F86DC;
}

.ct_input{width: 250px;}
.ctspan{font-size: 15px;margin-left: 8px;min-width: 100px;display: inline-block;}
.ct_span{font-size:12px;margin-left: 7px;}
.ctdiv{display: inline-block;width: 400px;text-align: left;
line-height: 2;}
